<h2><%= link_to h('大豆トップページ'), :controller => 'daizu_main', :action => 'index' %> ＞ タイムレポート</h2>

<form action="">
  project:<input type="text" value="" /><br />
  type:<input type="text" value="" /><br />
  from:<input type="text" value="" /><br />
  to:<input type="text" value="" /><br />
  user:<input type="text" value="" /><br />
  <button type="submit">GO</button>
</form>

<p>2009/01/01から2009/01/05までのタイムレポート。</p>

<table class="list">
  <tr>
    <th></th>
    <th>設計作業</th>
    <th>開発作業</th>
    <th>テスト作業</th>
    <th>運用作業</th>
    <th>間接作業</th>
    <th>合計</th>
  </tr>
  <tr>
    <th>あああプロジェクト</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(-)</td>
  </tr>
  <tr>
    <th>いいいプロジェクト</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(▲1)</td>
  </tr>
  <tr>
    <th>合計</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(▲1)</td>
  </tr>
</table>

<table class="list">
  <tr>
    <th></th>
    <th>設計作業</th>
    <th>開発作業</th>
    <th>テスト作業</th>
    <th>運用作業</th>
    <th>間接作業</th>
  </tr>
  <tr>
    <th>あああプロジェクト</th>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
  </tr>
  <tr>
    <th>いいいプロジェクト</th>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
  </tr>
  <tr>
    <th>合計</th>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
    <td>10%(▲1)</td>
    <td>10%</td>
  </tr>
</table>

<table class="list">
  <tr>
    <th>開発コスト</th>
    <td>20h(10%)</td>
  </tr>
  <tr>
    <th>運用コスト</th>
    <td>20h(10%)</td>
  </tr>
  <tr>
    <th>間接コスト</th>
    <td>20h(10%)</td>
  </tr>
  <tr>
    <th>合計</th>
    <td>20h(-)</td>
  </tr>
</table>