<h2>タイムレポート - あああプロジェクト 月別</h2>

<style type="text/css">
table {
  border:1px solid black;
  border-collapse:collapse;
  border-spacing:0;
  empty-cells:show;
}

th{
  border:1px solid black;
  text-align:center;
  padding:5px;
}

td{
  border:1px solid black;
  text-align:center;
  padding:5px;
}
</style>

<a href="">時間</a> / <a href="">割合</a>

<table summary="作業分類別">
  <tr>
    <th></th>
    <th></th>
    <th>設計作業</th>
    <th>開発作業</th>
    <th>テスト作業</th>
    <th>運用作業</th>
    <th>間接作業</th>
    <th>合計</th>
  </tr>
  <tr>
    <th>2009/01</th>
    <th>時間(h)</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(-)</td>
  </tr>
  <tr>
    <th>2009/01</th>
    <th>割合(%)</th>
    <td>20</td>
    <td>20(▲1)</td>
    <td>20(▲1)</td>
    <td>20</td>
    <td>20</td>
    <td>-</td>
  </tr>
  <tr>
    <th>2009/02</th>
    <th>時間(h)</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(▲1)</td>
  </tr>
  <tr>
    <th>2009/02</th>
    <th>割合(%)</th>
    <td>20</td>
    <td>20(▲1)</td>
    <td>20(▲1)</td>
    <td>20</td>
    <td>20</td>
    <td>-</td>
  </tr>
  <tr>
    <th>2009/03</th>
    <th>時間(h)</th>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>2.0(▲1)</td>
    <td>2.0</td>
    <td>10.0(▲1)</td>
  </tr>
  <tr>
    <th>2009/03</th>
    <th>割合(%)</th>
    <td>20</td>
    <td>20(▲1)</td>
    <td>20(▲1)</td>
    <td>20</td>
    <td>20</td>
    <td>-</td>
  </tr>
  <tr>
    <th>合計</th>
    <th>-</th>
    <td>20</td>
    <td>20(▲1)</td>
    <td>20(▲1)</td>
    <td>20</td>
    <td>20</td>
    <td>-</td>
  </tr>
</table>
