<h2>大豆 トップページ</h2>

<p>イソフラボーン！</p>

<a href="http://hb.afl.rakuten.co.jp/hgc/0974b0bd.2a680419.0974b0be.cd4dc1c2/?pc=http%3a%2f%2fwww.rakuten.co.jp%2fmameya1923%2f1782707%2f%231438967&m=http%3a%2f%2fm.rakuten.co.jp%2fmameya1923%2fi%2f1438967%2f" target="_blank"><img src="http://hbb.afl.rakuten.co.jp/hgb/?pc=http%3a%2f%2fimage.rakuten.co.jp%2fwshop%2fdata%2fws-mall-img%2fmameya1923%2fimg128%2fimg10234472279.jpeg&m=http%3a%2f%2fimage.rakuten.co.jp%2fwshop%2fdata%2fws-mall-img%2fmameya1923%2fimg64%2fimg10234472279.jpeg" border="0"></a>
<a href="http://hb.afl.rakuten.co.jp/hgc/097a5155.d7a764e9.097a5156.b745ac3b/?pc=http%3a%2f%2fitem.rakuten.co.jp%2fkyunan%2f100-iridaizu%2f&m=http%3a%2f%2fm.rakuten.co.jp%2fkyunan%2fi%2f10000152%2f" target="_blank"><img src="http://hbb.afl.rakuten.co.jp/hgb/?pc=http%3a%2f%2fthumbnail.image.rakuten.co.jp%2f%400_mall%2fkyunan%2fcabinet%2fmame%2fimg55685937.gif%3f_ex%3d80x80&m=http%3a%2f%2fthumbnail.image.rakuten.co.jp%2f%400_mall%2fkyunan%2fcabinet%2fmame%2fimg55685937.gif%3f_ex%3d64x64" border="0"></a>
<a href="http://hb.afl.rakuten.co.jp/hgc/097a51c1.9d266254.097a51c2.757d8de7/?pc=http%3a%2f%2fitem.rakuten.co.jp%2fitoufarm%2f10000488%2f&m=http%3a%2f%2fm.rakuten.co.jp%2fitoufarm%2fi%2f10000488%2f" target="_blank"><img src="http://hbb.afl.rakuten.co.jp/hgb/?pc=http%3a%2f%2fthumbnail.image.rakuten.co.jp%2f%400_mall%2fitoufarm%2fcabinet%2fbeen%2fdaizu-up2.jpg%3f_ex%3d80x80&m=http%3a%2f%2fthumbnail.image.rakuten.co.jp%2f%400_mall%2fitoufarm%2fcabinet%2fbeen%2fdaizu-up2.jpg%3f_ex%3d64x64" border="0"></a>
<a href="http://hb.afl.rakuten.co.jp/hgc/097a5746.f70c3cab.097a5747.5d47091a/?pc=http%3a%2f%2fwww.rakuten.co.jp%2fkita1food%2f1838260%2f%231431477&m=http%3a%2f%2fm.rakuten.co.jp%2fkita1food%2fi%2f1431477%2f" target="_blank"><img src="http://hbb.afl.rakuten.co.jp/hgb/?pc=http%3a%2f%2fimage.rakuten.co.jp%2fwshop%2fdata%2fws-mall-img%2fkita1food%2fimg128%2fimg10084393290.jpeg&m=http%3a%2f%2fimage.rakuten.co.jp%2fwshop%2fdata%2fws-mall-img%2fkita1food%2fimg64%2fimg10084393290.jpeg" border="0"></a>

<ul>
  <li>
    <%= link_to h('チケットレポートを見る'), :controller => 'daizu_ticket_report', :action => 'index' %>
  </li>
  <li>
    <%= link_to h('時間コストを見る'), :controller => 'daizu_time_report', :action => 'index' %>
  </li>
</ul>
