<h2>チケットレポート 月別 藤原</h2>

<ul>
  <li><a href="http://localhost:3001/daizu_ticket_report/daily/fujihara">ああああ作業 100% 完了</a></li>
  <li><a href="http://localhost:3001/daizu_ticket_report/daily/yamada">いいいい作業 100% 完了</a></li>
</ul>